body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  background-color: #cbf1d4;
  color: #d8d29b;
  line-height: 1.6;
}

header {
  background-color: #3a2f79;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a,
#themeToggle {
  color: #c43c9bd2;
  margin: 0 12px;
  text-decoration: italic;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 30px 20px;
}

section {
  margin-bottom: 60px;
}

h2 {
  border-bottom: 2px solid #3cbd81;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #a89e9e;
  font-family: inherit;
}

button {
  background-color: #cf3b3b;
  color: #dbcaca;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #7a4365;
}

footer {
  background-color: #b6ca5b;
  color: #746b6b;
  text-align: center;
  padding: 20px;
}

/* Dark mode */
.dark-mode {
  background-color: #a0b1c4;
  color: #7d9bdd;
}

.dark-mode header,
.dark-mode footer {
  background-color: #1665db;
}

.dark-mode button {
  background-color: #444;
}

/* Slider styles */
.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(104, 243, 243, 0.87);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}

.slider img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(159, 240, 229, 0.6);
  color: rgb(116, 104, 104);
  border: none;
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

/* Scroll button */
#scrollTopBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  font-size: 22px;
  background: #333;
  color: rgb(236, 172, 172);
  padding: 10px 14px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
